
# Firebase Console → Project settings → Cloud Messaging → Web Push certificates → "Generate key pair"
VITE_FCM_VAPID_KEY=
VITE_FIREBASE_API_KEY=AIzaSyAvKl66J1m99lBZn-Yqa1dUvwVpAUINBQU
VITE_FIREBASE_AUTH_DOMAIN=quitforce-4d280.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quitforce-4d280
VITE_FIREBASE_STORAGE_BUCKET=quitforce-4d280.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=876124862054
VITE_FIREBASE_APP_ID=1:876124862054:web:b9b2df3c460177e2885fa7